/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author:Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline:none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin:0; padding:0; list-style:none;} 
.slide{display:none;}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {position:relative; zoom:1;}
.flex-viewport {max-height:2000px; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; transition:all 1s ease;}
.loading .flex-viewport {max-height:300px;}
.flexslider .slides {zoom:1;}


/* Direction Nav */
.flex-direction-nav {*height:0;}
.flex-direction-nav a{width:30px; height:56px; position:absolute; top:0; -webkit-transition:none; transition:none; text-indent:-9999px;-moz-transition:none}
.flex-direction-nav .flex-next ,.flex-direction-nav .flex-prev{width:11px;height:20px; background:url(../images/right-arrow.png) no-repeat center center / contain; cursor:pointer; right: 30px; left: auto;}
.flex-direction-nav .flex-prev{right:auto; left:30px; margin-right:30px; background:url(../images/left-arrow.png) no-repeat center center / contain}

/* add new */
.flex-direction-nav{width:100%; top:50%; left:0; position:absolute; display:block; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }

.flex-direction-nav .flex-disabled{cursor:default;}

/* Control Nav */

.flex-control-nav{position:absolute; bottom:0px; left:0; right: 0; padding:0; z-index:100; text-align:center;}
.flex-control-nav li{display:inline-block; margin:0px 6px; font-size:6px; line-height:6px; cursor:pointer;}
.flex-control-paging li a{float:left; width:10px; height:10px; display:block;background:#d8d8d8; text-indent:-9999px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; cursor:pointer}
.flex-control-paging li a:hover{background:#1ab394}
.flex-control-paging li a.flex-active{background:#1ab394}
/* add new */

.flex-control-thumbs {margin:5px 0 0; position:static; overflow:hidden;}
.flex-control-thumbs li {width:25%; float:left; margin:0;}
.flex-control-thumbs img {width:100%; display:block; opacity:.7; cursor:pointer;}
.flex-control-thumbs img:hover {opacity:1;}
.flex-control-thumbs .flex-active {opacity:1; cursor:default;}

@media screen and (max-width:860px) {
  .flex-direction-nav .flex-prev {opacity:1;}
  .flex-direction-nav .flex-next {opacity:1;}
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}


